html
  head
    title
    
  body
    h2= message
    
    table
      thead
       tr
         th nome
         th sobrenome
      tbody
          tr
            td= data.nome
            td= data.sobrenome
