html
  head
    title
    
  body
    h2= message
    
    table
      thead
       tr
         th nome
         th sobrenome
      tbody
        each obj in data
          tr
            td= obj.nome
            td= obj.sobrenome
            td 
              form(method="post", action="/users/"+obj.id)
                input(type="hidden", name="_method", value="DELETE")
                button(type="submit", value="Delete") Delete
                
